@{
    ViewBag.Title = "Home Page";
}


<div id="map" style="height: 450px;width: 800px;margin:100px auto"></div>
<script>



    $(document).ready(function () {
        var map = L.map('map').setView([44.5, 26], 10);
        var layer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png');
        layer.addTo(map);
    });
    $(document).ready(function () {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(SendPosition);
        }
        else {
            alert( "Geolocation is not supported by this browser.");
        }
        function SendPosition(position) {
           //x.innerHTML = "Latitude: " + position.coords.latitude +
           //  "<br>Longitude: " + position.coords.longitude;
            $.post("/api/UserPosition", { Latitude: position.coords.latitude, Longitude: position.coords.longitude })
            .done(function (data) {
                alert("Data Loaded: " + data);
               
            });
           
        }

    });
</script>