@{
    ViewBag.Title = "Home Page";
}

@*<script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@
<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
<script src="~/signalr/hubs"></script>

<div class="container" style="width: 100%; margin: 50px auto; ">
    <div class="row" style="width:100%;">
        <div class="col-md-3">


            <div class="list-group input-group-sm">

                <a href="#" class="list-group-item">

                    <button class="btn btn-info" type="button" id="buton-SearchUser">GO</button>
                    <input type="text" class="form-control" placeholder="Search User" id="input-SearchUser">

                </a>

            </div>

            <div class="bs-example bs-example-tabs" role="tabpanel">
                <ul id="myTab" class="nav nav-tabs" role="tablist"></ul>
                <div id="myTabContent" class="tab-content">
                    
                </div>
                <div id="SendMessege" style="display:none"><input id="message-text" type="text" class="form-control SendMessege" placeholder="Send Messege" style="width:75%;"><button id="myButton" class="btn btn-info SendMessege" type="button">Send</button></div>
                </div>
            </div>

        <div class="col-md-7" id="map" style="height:450px"></div>
        <div class="col-md-2">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel-heading  " typeof="" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <button class="btn btn-info" style="width:100%"><p style="font-size:16px">My Users</p></button>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse active" role="tabpanel" aria-labelledby="headingOne">
                    <div class="list-group">
                        <ul class="list-group">
                            <li class="list-group-item" id="list-useri" style="list-style:none;"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="id23"></div>
    <input type="hidden" id="hi1" />
    <div class="container">
        <ul id="discussion"></ul>
    </div>
</div>







<script>
    $('#myButton').on('click', function () {
        var $btn = $(this).button('loading')
        // business logic...
        $btn.button('reset')
    })
</script>

<script>
    var chat = $.connection.chatHub;//conexiunea la chat
    var markers = new Array();//vector cu markerele de pe harta
    var map;//harta
    var onlineusers = [];//userii online

    //markerul rosu pentru destinat urilizatoriilor offline
    var greenIcon = L.icon({
        iconUrl: '/img/marker-icon-red.png',


        iconSize: [25, 40], // size of the icon
        shadowSize: [50, 64], // size of the shadow
        iconAnchor: [20, 20], // point of the icon which will correspond to marker's location
        shadowAnchor: [4, 62],  // the same for the shadow
        popupAnchor: [0, -20] // point from which the popup should open relative to the iconAnchor
    });

    //adauga marker pe harta in functie de starea utilizatorui curent rosu pentru offline albartu(predefinit pt online
    function addMarker(user, OnOff) {

        console.log('Data recived');
        if (OnOff) {
            var marker = L.marker([user.Latitude, user.Longitude], { draggable: false });
        }
        else {
            var marker = L.marker([user.Latitude, user.Longitude], { draggable: false, icon: greenIcon });
        }
        markers.push(marker);
        marker.addTo(map).bindPopup(user.UserName);

    }

    $(document).ready(function () {
        //creeaza mapa si o seteaza in bucuresti
        map = L.map('map').setView([44.5, 26], 10);
        var layer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png');
        layer.addTo(map);


        //functie de cautare a userilor in parametru in care este harta
        var showMarkerOnMap = function (e) {

            for (var i = 0; i < markers.length; i++) {
                map.removeLayer(markers[i]);
            }

            var users = [];
            var bounds = map.getBounds();
            var west = bounds.getWest();
            var south = bounds.getSouth();
            var east = bounds.getEast();
            var north = bounds.getNorth();

            onlineusers = [];
            $.get("/api/UserPosition", { east: east, west: west, north: north, south: south }).done(function (users) {
                onlineusers = users;
                showusers(users);


            });


        }

        map.on('dragend', showMarkerOnMap);
        map.on('zoomend', showMarkerOnMap);
        map.on('viewreset', showMarkerOnMap);
        showMarkerOnMap();

    });

    //cauta 
    $(document).ready(function () {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(SendPosition);
        }
        else {
            alert("Geolocation is not supported by this browser.");
        }
        function SendPosition(position) {


            $.post("/api/UserPosition", { Latitude: position.coords.latitude, Longitude: position.coords.longitude })
            .done(function (data) {
            });

        }

    });



    //seteaza mapa pe userul care l-ai selectat
    var moveuser = function (users) {
        $('#onlineUsers').empty();

        users.forEach(function (user) {

            map.setView([user.Latitude, user.Longitude], 13);

        });

    };

    //arata in partea dreapta userii in functie de starea lor(butonul este rosu pentru cei offline)
    var showusers = function (users) {

        $('#list-useri').empty();
        var div = $('#list-useri');

        users.forEach(function (user) {
            if (user.Online === true) {
                addMarker(user, true);
                var time = (new Date).getTime() - user.PositionDate;
                var use = '<li><button type="button" class="btn btn-group-vertical btnuser" onClick="showChat(\'' + user.UserName + '\')" style="width:150px;border: 1px solid #999;"> '
                            + user.UserName + '</button></li>';
                $('#list-useri').append(use);
            }

            else {
                addMarker(user, false);
                var time = (new Date).getTime() - user.PositionDate;
                var us = '<li><button type="button" class="btn btn-group-vertical btn-danger" data-toggle="modal"  style="width:150px;border: 1px solid #999;"> '
                    + user.UserName + '</button></li>';
                $('#list-useri').append(us);
            }
        });       
    };

    //atunci cand butonul de search este apasat cauta userul care l-ai testat(presupunem ca avem un singur user cu acest nume in baza de date)
    $("#buton-SearchUser").on("click", function searchUser() {
        var username = $("#input-SearchUser").val();
        var findedusers = [];
        onlineusers.forEach(function (user) {
            if (user.UserName.indexOf(username) > -1) {
                findedusers.push(user);
            }

        });
        moveuser(findedusers);
        $("#input-SearchUser").val('');

    });




    var showChat = function (user) {
        if ($('#' + user + '-tab').length === 0) {
            var tab = '<li role="presentation"><a href="#' + user + 'panel" id="' + user + '-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"</a>' + user + '</li>';
            var chats = ' <div role="tabpanel" class="tab-pane" id="' + user + 'panel" aria-labelledby="' + user + '-tab" style="height:250px"></div>'
            $('#myTab').append(tab);
            $('#myTabContent').append(chats);
            $("#myTab a").click(function (event) {
               var x=$(event.target).text();
               $("#hi1").val(x);

            });
           
        }

        $('#' + user + '-tab').click();
        $("#SendMessege").show();
    };


    ///realizeaza conexiunea la chat si trimite mesaj destinatarului atunci cand apesi butonul #myButton
    $(function () {

        //coneziune
        var chat = $.connection.chatHub;
       //unde anume in pagina iti afiseaza mesajul primit
        chat.client.addNewMessageToPage = function (name, message) {
            //verifica daca ai tabul respectiv deschis daca nu ti-l deschide automat;

            showChat(name);
            //ia mesajul si il pune in containerul special creea pentru userul respectiv
            $('#' + name + 'panel').append('<div style="float:right"><strong>' + name + ': </strong>' + htmlEncode(message)+'</div>');
        };
        
        $('#message-text').focus();
        //porneste conexiunea
        $.connection.hub.start().done(function () {
            //at cand butonul este apasat ia mesajul din input destinat acestuia si il trimite catre senderul respectiv
            $('#myButton').click(function () {
                               
                chat.server.send($('#hi1').val(), $('#message-text').val());
                //imi pune in inputul persoanei careia ii era destinat mesajul si mesajul meu
                $('#' + $('#hi1').val() + 'panel').append('<br><strong>Me: </strong>' + htmlEncode($('#message-text').val())+'</br>');
                
                $('#message-text').val('').focus();
            });
        });
    });
    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    }

</script>

