@{
    ViewBag.Title = "Home Page";
}


<div id="map" style="height: 450px;width: 800px;margin:100px auto"></div>
<script>
    var map;
    function addMarker(x, y) {
        console.log('Data recived');
        var marker = L.marker([x, y], { draggable: true });
        marker.addTo(map);
        map.setView([x, y]);
    }

    $(document).ready(function () {
        map = L.map('map').setView([44.5, 26], 10);
        var layer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png');
        layer.addTo(map);
      
        
        
    });
    $(document).ready(function () {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(SendPosition);
        }
        else {
            alert( "Geolocation is not supported by this browser.");
        }
        function SendPosition(position) {
            addMarker(position.coords.latitude, position.coords.longitude);
         
            $.post("/api/UserPosition", { Latitude: position.coords.latitude, Longitude: position.coords.longitude })
            .done(function (data) {
                alert("Data Loaded: " + data);
               
            });
           
        }

    });
</script>

<div id="onlineUsers">
    
</div>
<script>
    $.get("/api/User").done(function (users) {
        users.forEach(function (user) {
            console.log(user);

            var div = $('#onlineUsers');
            div.append($('<p>' + user.Name + '</p>'));
        });
    });
</script>