@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>


<div class="container" style="width: 100%; margin: 50px auto; ">
    <div class="row" style="width:100%;">
        <div class="col-md-3">
            <div class="list-group input-group-sm">

        <a href="#" class="list-group-item disabled">
            Search
        </a>
        <a href="#" class="list-group-item">

            <button class="btn btn-success" type="button">GO</button>
            <input type="text" class="form-control" placeholder="Search Location">

        </a>
        <a href="#" class="list-group-item">

            <button class="btn btn-warning" type="button" id="buton-SearchUser">GO</button>
            <input type="text" class="form-control" placeholder="Search User" id="input-SearchUser">

        </a>
        <a href="#" class="list-group-item">

            <button class="btn btn-info" type="button">GO</button>
            <input type="text" class="form-control" placeholder="Search Post">
        </a>
    </div>
        </div>
        <div class="col-md-7" id="map" style="height:450px"></div>
        <div class="col-md-2">

            <ul class="list-group">
                <li class="list-group-item" id="list-useri" style="list-style:none">
                </li>
        </ul>
    </div>
    </div>
</div>







<script>

    var markers=new Array();
    var map;
    function addMarker(user) {
        console.log('Data recived');
        var marker = L.marker([user.Latitude, user.Longitude], { draggable: false });
        markers.push(marker);
        marker.addTo(map).bindPopup(user.UserName).openPopup();;
       // map.setView([user.Latitude, user.Longitude]);
    }

    $(document).ready(function () {
        map = L.map('map').setView([44.5, 26], 10);
        var layer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png');
        layer.addTo(map);

        var onClick = function (e) {
           
            for (var i=0;i<markers.length;i++){
                map.removeLayer(markers[i]);
            }
           
            var users=[];
            var bounds = map.getBounds();
            var west = bounds.getWest();
            var south = bounds.getSouth();
            var east = bounds.getEast();
            var north = bounds.getNorth();
           
            $.get("/api/UserPosition", { east: east, west: west, north: north, south: south }).done(function (users) {
                if (users === null) {
                    
                }
                else {
                    users.forEach(function (user) {

                        addMarker(user);
                       
                    });
                }
            });
            

        }
        map.on('dragend', onClick);
        map.on('zoomend', onClick);

    });
    $(document).ready(function () {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(SendPosition);
        }
        else {
            alert("Geolocation is not supported by this browser.");
        }
        function SendPosition(position) {
            // addMarker(position.coords.latitude, position.coords.longitude);

            $.post("/api/UserPosition", { Latitude: position.coords.latitude, Longitude: position.coords.longitude })
            .done(function (data) {
            });

        }

    });
</script>


<script>
    var showusers = function (users) {
        $('#onlineUsers').empty();
        var div = $('#onlineUsers');
        users.forEach(function (user) {
            if (user.Online === true) {
            console.log(user);
            addMarker(user);
            var time = (new Date).getTime() - user.PositionDate;
                var us = '<li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> ' + user.UserName +'</button></li>';
                $('#list-useri').append(us);


            }
            else {
                var time = (new Date).getTime() - user.PositionDate;
                var us = '<li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> ' + user.UserName + '</button></li>';
                $('#list-useri').append(us);
            }
        });

    };

   
    var onlineusers = [];
    $.get("/api/User").done(function (users) {
        onlineusers = users;
        showusers(users);

    });
   
    $("#buton-SearchUser").on("click", function () {
        var username = $("#input-SearchUser").val();
        var findedusers = [];
        onlineusers.forEach(function (user) {
            if (user.UserName.indexOf(username) > -1) {
                findedusers.push(user);
            }

        });
        showusers(findedusers);
    });
</script>