@{
    ViewBag.Title = "Home Page";
}

@*<script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@
<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
<script src="~/signalr/hubs"></script>

<div class="container" style="width: 100%; margin: 50px auto; ">
    <div class="row" style="width:100%;">
        <div class="col-md-3">
            <div class="list-group input-group-sm">

                <a href="#" class="list-group-item">

                    <button class="btn btn-info" type="button" id="buton-SearchUser">GO</button>
                    <input type="text" class="form-control" placeholder="Search User" id="input-SearchUser">

                </a>

            </div>
        </div>
        <div class="col-md-7" id="map" style="height:450px"></div>
        <div class="col-md-2">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel-heading  " typeof="" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <button class="btn btn-info" style="width:100%"><p style="font-size:16px">My Users</p></button>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse active" role="tabpanel" aria-labelledby="headingOne">
                    <div class="list-group">
                        <ul class="list-group">
                            <li class="list-group-item" id="list-useri" style="list-style:none;"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <ul id="discussion"></ul>
    </div>
</div>
</div>


<div class="modal fade btnuser" id="BestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="exampleModalLabel">New message</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">UserName</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Message</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-primary">
                    Send message
                </button>
            </div>
        </div>
    </div>
</div>





<script>
    $('#myButton').on('click', function () {
        var $btn = $(this).button('loading')
        // business logic...
        $btn.button('reset')
    })
</script>

<script>
    var chat = $.connection.chatHub;
    var markers = new Array();
    var map;
    var onlineusers = [];
    var greenIcon = L.icon({
        iconUrl: '/img/marker-icon-red.png',


        iconSize: [25, 40], // size of the icon
        shadowSize: [50, 64], // size of the shadow
        iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
        shadowAnchor: [4, 62],  // the same for the shadow
        popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
    });
    function addMarker(user, OnOff) {
        console.log('Data recived');
        if (OnOff) {
            var marker = L.marker([user.Latitude, user.Longitude], { draggable: false });
        }
        else {
            var marker = L.marker([user.Latitude, user.Longitude], { draggable: false, icon: greenIcon });
        }
        markers.push(marker);
        marker.addTo(map).bindPopup(user.UserName);

    }

    $(document).ready(function () {
        map = L.map('map').setView([44.5, 26], 10);
        var layer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png');
        layer.addTo(map);

        var showMarkerOnMap = function (e) {

            for (var i = 0; i < markers.length; i++) {
                map.removeLayer(markers[i]);
            }

            var users = [];
            var bounds = map.getBounds();
            var west = bounds.getWest();
            var south = bounds.getSouth();
            var east = bounds.getEast();
            var north = bounds.getNorth();

            onlineusers = [];
            $.get("/api/UserPosition", { east: east, west: west, north: north, south: south }).done(function (users) {
                onlineusers = users;
                showusers(users);


            });


        }

        map.on('dragend', showMarkerOnMap);
        map.on('zoomend', showMarkerOnMap);
        map.on('viewreset', showMarkerOnMap);
        showMarkerOnMap();

    });
    $(document).ready(function () {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(SendPosition);
        }
        else {
            alert("Geolocation is not supported by this browser.");
        }
        function SendPosition(position) {


            $.post("/api/UserPosition", { Latitude: position.coords.latitude, Longitude: position.coords.longitude })
            .done(function (data) {
            });

        }

    });




    var moveuser = function (users) {
        $('#onlineUsers').empty();

        users.forEach(function (user) {

            map.setView([user.Latitude, user.Longitude], 13);


        });

    };
    var showusers = function (users) {

        $('#list-useri').empty();
        var div = $('#list-useri');
        users.forEach(function (user) {
            if (user.Online === true) {
                console.log(user);
                addMarker(user, true);
                var time = (new Date).getTime() - user.PositionDate;
                var use = '<li><button type="button" class="btn btn-group-vertical" onClick="showModal(\'' + user.UserName + '\')" style="width:150px;border: 1px solid #999;"> '
                    + user.UserName + '</button></li>';
                $('#list-useri').append(use);


            }
            else {
                addMarker(user, false);
                var time = (new Date).getTime() - user.PositionDate;
                var us = '<li><button type="button" class="btn btn-group-vertical btn-danger" data-toggle="modal"  style="width:150px;border: 1px solid #999;"> '
                    + user.UserName + '</button></li>';
                $('#list-useri').append(us);
            }
        });

    };

    $("#buton-SearchUser").on("click",function searchUser () {
        var username = $("#input-SearchUser").val();
        var findedusers = [];
        onlineusers.forEach(function  (user) {
            if (user.UserName.indexOf(username) > -1) {
                findedusers.push(user);
            }
           
        });

        moveuser(findedusers);
    });
    
    

    function showModal(userName) {
        $('.btnuser').on('show.bs.modal', function () {
            $('#recipient-name').val(userName);
        })
        $('.btnuser').modal();

    }
    $(function () {

        var chat = $.connection.chatHub;

        chat.client.broadcastMessage = function (name, message) {

            var encodedName = $('<div />').text(name).html();
            var encodedMsg = $('<div />').text(message).html();

            $('#discussion').append('<li><strong>' + encodedName
                + '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>');
        };

        $('#message-text').focus();

        $.connection.hub.start().done(function () {
            $('#SendMessagebtn').click(function () {

                chat.server.send($('#recipient-name').val(), $('#message-text').val());

                $('#message-text').val('').focus();
            });
        });
    });

</script>

