@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
<script src="~/signalr/hubs"></script>

<div id="map" style="height: 450px;width: 800px;margin:50px auto"></div>
<script>



    $(document).ready(function () {
        var map = L.map('map').setView([44.5, 26], 10);
        var layer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png');
        layer.addTo(map);
    });
    $(document).ready(function () {
        $.post("/api/UserPosition", { Latitude: 23.45, Longitude: 45.45 })
            .done(function (data) {
                alert("Data Loaded: " + data);
            });
    });
</script>