@{
    ViewBag.Title = "Home Page";
}


<div id="map" style="height: 450px;width: 800px;margin:50px auto"></div>
<script>



    $(document).ready(function () {
        var map = L.map('map').setView([44.5, 26], 10);
        var layer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png');
        layer.addTo(map);
    });
</script>